body {
  gap: 10px;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-size: 13px;
  overflow: hidden;
  flex-flow: column;
  align-items: center;
  font-family: monospace;
  justify-content: space-between;
}

.toolbar {
  top: 0;
  right: 0;
  z-index: 11;
  position: fixed;
}

.toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  color: #333;
  height: 42px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: monospace;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.fileio {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.fileio table {
  border: 0;
  width: 100%;
  height: 100%;
  border-spacing: 1px 0;
}

.fileio-td {
  padding: 0;
  position: relative;
  background-color: #fff;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIvSURBVHic7d2xLgRRGEfx79oRvRCFjgQVkn0QNJ5EIRGyhda7SDyHUiOhYAsiNqEk66psqGTEdUfO+XWT7Jf8i5NMscVESOJKtQeUNhjEVLO5vNj2rnnJz/u7108lNnVJU3tAcf2V2Twe37Q9e51JJxGxV2BRp0zVHqC6DADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4CafjTs+Xd7JEQc1xxSRUhM5b7S/i/vIMSywqKqcY3i0c7X98Tz5bNxbjvmUol9nVkE5//AuFiJi4Ve3dEBKefbzs68AOAOAMwA4A4AzADgDgDMAOAOAMwA4A4AzALjJfwEppVFEvqg5poScUi/lvPaD08eIuPvtPfWl2y9PtWb8lcHZylxvPH5ofZji5HDraq/ApE7xFQBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYA13z/k3/u/HLUW19abXv2Mt2MSsyRpO54BxisNnYwXujbAAAAAElFTkSuQmCC") no-repeat center center;
  background-size: 32px;
}

.fileio-td .info, .fileio-td .details {
  left: 0;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  font-family: monospace;
  text-overflow: ellipsis;
}

.fileio-td .info {
  left: 10px;
  bottom: 12px;
  text-align: left;
}

.fileio-td .details {
  right: 10px;
  bottom: 12px;
  text-align: right;
  text-indent: 10px;
}

.fileio-td input {
  top: 0;
  border: 0;
  color: #333;
  width: 100%;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  min-height: 200px;
  font-family: monospace;
  box-sizing: border-box;
  height: calc(100vh - 365px);
  background-color: transparent;
}

.fileio-td input:focus {
  outline: none;
}

.actions {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  border-top: solid 1px rgba(0,0,0,0.1);
}

.actions table {
  border: 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.actions table tr td {
  padding: 10px;
  vertical-align: baseline;
}

.actions table tr td div {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.actions table tr td div.left,
.actions table tr td div.right {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions table tr td div.left {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.actions table tr td:nth-child(1) {
  border-right: solid 1px rgba(0,0,0,0.1);
}

.actions table tr td:nth-child(2) {
  border-left: solid 1px rgba(0,0,0,0.1);
}

.actions table tr td svg {
  fill: #555;
  pointer-events: none;
}

.actions table tr td select {
  padding: 0;
  width: 100%;
  height: 48px;
  outline: none;
  color: #5985de;
  font-size: 14px;
  cursor: pointer;
  background: #fff;
  font-weight: 600;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: monospace;
  border: solid 1px rgba(0,0,0,0.1);
}

.actions table tr td label {
  color: #333;
  padding: 10px 0;
  font-size: 13px;
  max-width: 100%;
  font-weight: 600;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-family: monospace;
  text-overflow: ellipsis;
}

.actions table tr td label.wide {
  font-size: 14px;
  letter-spacing: 1px;
}

.actions table tr td input[type='number'] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  outline: none;
  color: #5985de;
  font-size: 14px;
  background: #fff;
  font-weight: 600;
  text-indent: 10px;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

.actions table tr td input[type='radio'] {
  margin: 10px;
  vertical-align: middle;
}

.actions .separator {
  padding: 0;
  color: #333;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  text-align: center;
  letter-spacing: 1px;
  vertical-align: middle;
  background-color: whitesmoke;
}

.actions .button {
  border: 0;
  padding: 0;
  cursor: pointer;
  padding-bottom: 10px;
}

.actions .button div {
  color: #fff;
  margin: auto;
  height: 48px;
  opacity: 0.95;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  font-weight: 600;
  user-select: none;
  line-height: 52px;
  text-align: center;
  letter-spacing: 1px;
  width: calc(100% - 20px);
  background-color: #517edd;
  transition: 300ms ease all;
}

.actions .button div:hover {
  opacity: 1.0;
}

.button div .b {display: none}
.button div .a {display: inline}
.button div[state='loading'] .a {display: none}
.button div[state='loading'] .b {display: inline}

@media (max-width: 600px) {
  .fileio-td {
    background-size: 16px;
  }
}

@media (max-width: 300px) {
  .toolbar, .fileio-td .info {
    display: none;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}
